
<head>

    <title>Raymarcher</title>
    <script type="text/javascript" src="main.js"></script>
    


    <script type="text/javascript">

        function fixCanvasResolution() {

            var canvas = document.getElementById("glCanvas");
            canvas.width = window.innerWidth - 15;
			canvas.style.width = canvas.width;

            canvas.height = window.innerHeight - 16;
			canvas.style.height = canvas.height;

			console.log("updated canvas resolution");

        }       
    
    </script>



    <script type="glsl" id="VERTEX_SHADER">    
        attribute vec2 position;
		varying vec2 SCREEN_UV;

        void main() {
            
			SCREEN_UV = position * vec2(0.5) + vec2(0.5);
            gl_Position = vec4(position, 0, 1);

        }

    </script>


 
    <script type="glsl" id="FRAGMENT_SHADER">
       	
		#ifdef GL_FRAGMENT_PRECISION_HIGH
			precision highp float;
		#else
			precision mediump float;
		#endif
		
		varying vec2 SCREEN_UV;
		uniform float SCREEN_WIDTH;
		uniform float SCREEN_HEIGHT;
		const vec3 CAM_POS = vec3(0, 0, -1.5);

		//Raymarcher
		const float HIT_MARGIN = 0.0000066;
		const int MAX_STEPS = 200;
		const int RENDR_DIST = 30;

		//Environment
		const float ALIGHT_ENERGY = 0.125;
		const float LIGHT_ENERGY = 1.0;

		

		float DE(vec3 p) {
			
			const int n = 4;
			float x=p.x, 
				y=p.y, 
				z=p.z;

				x=x*0.5+0.5;
				y=y*0.5+0.5;
				z=z*0.5+0.5; //center it by changing position and scale

			float xx=abs(x-0.5)-0.5, 
				yy=abs(y-0.5)-0.5, 
				zz=abs(z-0.5)-0.5;

			float d1=max(xx,max(yy,zz)); //distance to the box
			float d=d1; //current computed distance
	
			float p2=1.0;

			for (int i=1; i<=n; ++i) {
				float xa = mod(3.0*x*p2,3.0);
				float ya = mod(3.0*y*p2,3.0);
				float za = mod(3.0*z*p2,3.0);
				p2*=3.0;
				
				//we can also translate/rotate (xa,ya,za) without affecting the DE estimate
			
				float xx=0.5-abs(xa-1.5), yy=0.5-abs(ya-1.5), zz=0.5-abs(za-1.5);
				d1=min(max(xx,zz),min(max(xx,yy),max(yy,zz))) / p2; //distance inside the 3 axis-aligned square tubes
				d=max(d,d1); //intersection

			}
				
				//return d*2.0; //the distance estimate. The *2 is because of the scaling we did at the beginning of the function
			
			return d;
			
			
		}
		
		
		
		float Depth(vec3 o, vec3 md) {
			
			float dto = 0.0;
    		
			int steps = 0;

			for (int i = 0; i <= MAX_STEPS; i++) {
    			steps = i;
				vec3 cp = o + md * dto;
				float csd = DE(cp);
				dto += csd;
				if (dto > float(RENDR_DIST) || csd < HIT_MARGIN) break;

			}
				
				//float normalizedSteps = float(steps / MAX_STEPS);
				//float depthInfo[2] = {dto, normalizedSteps};
				//return depthInfo;

				return dto;

		}
		
		
		
	
		vec3 Normal(vec3 p) {
    
    		float dts = DE(p);
    		vec2 e = vec2(HIT_MARGIN * 0.99, 0.0);
    		
			vec3 n = dts - vec3(DE(p - e.xyy), DE(p - e.yxy), DE(p - e.yyx)); //Black magic...
    		vec3 nn = normalize(n);
   
    		return normalize(nn);  
    
		}



		vec3 AmbientLight() {
			vec3 l = vec3(1, 1, 1) * ALIGHT_ENERGY;
    		return l;
		}



		vec3 PointLight(vec3 pp, float d, vec3 n, vec3 lp) {
    		vec3 s;
    		vec3 pld = lp - pp;
    
    		vec3 lv = normalize(pld);
    		float dfl = length(pld);
    		float lrhd = Depth(pp + n * HIT_MARGIN, lv);
      
    		if (lrhd < dfl && d < float(RENDR_DIST)) {
    			s = AmbientLight();
    		}
    
    		else {
    			float sf = dot(lv, n);
        		s = mix(AmbientLight(), vec3(1, 1, 1), sf + 0.1);
    		}
    
    		return s;
		}
        
		
		
		vec3 SunLight(vec3 pp, float d, vec3 n, vec3 lp) {
    		vec3 s;
    
    		vec3 lv = normalize(lp - vec3(0, 0, 0));
   			float lrhd = Depth(pp + n * HIT_MARGIN, lv);

			if (lrhd < float(RENDR_DIST))
				s = AmbientLight();
			
			else {
    			float sf = dot(lv, n);
    			s = mix(AmbientLight(), vec3(1, 1, 1), sf + 0.1);
    		}
    		return s;
		}
		
		
		
		



		void main() {
	
		//Defining color and centered UV
		vec3 col = vec3(1, 1, 1);
		
		//vec2 UV = (gl_FragCoord.xy - vec2(0.5) * vec2(SCREEN_WIDTH, SCREEN_HEIGHT)) / SCREEN_HEIGHT;
		vec2 UV = (SCREEN_UV - vec2(0.5)) * 2.0;
	

		

		//Making the simplest camera ever...
		vec3 cp = vec3(CAM_POS);
		vec3 cr = normalize(vec3(UV.r, UV.g * (SCREEN_HEIGHT / SCREEN_WIDTH), 1.77));
		
		

		//aquiring useful stuff: depth, pixel world-position and pixel-normal...
		float d = Depth(cp, cr);
		vec3 pp = cp + cr * d;
		vec3 n = Normal(pp);

		

		//Shading scene
		
		//Sunlight
		col = mix(SunLight(pp, d, n, vec3(1, 1, 1)), AmbientLight(), 0.5);

		//Pointlight...
		col = mix(col, PointLight(pp, d, n, vec3(0, 0, 0)), 0.5);
		
		//Fog
		col = mix(col, vec3(ALIGHT_ENERGY), clamp(d / float(RENDR_DIST), 0.00, 1.0));
		
		//col.rg = (SCREEN_UV - vec2(0.5)) * 2.0;
		//col.rg = UV;
		//col.b = 0.0;
		//col = vec3(SCREEN_WIDTH);
		
		//col = vec3(d);

		gl_FragColor = vec4(col, 1.0);

        }

    </script>

</head>



<body background-color="black" onresize="fixCanvasResolution()">

    <canvas id="glCanvas"></canvas>

</body>



<style>

    body {
        background-color: black;
    }

    #glCanvas {
        border-radius: 15px;
    }

</style>
